<%- include('header') -%>

<div class="centerdiv">
    <div class="flexbox">
        <span class="veryverybig headfont spacing"><%- errno -%> <span class="verybig headfont"><%- meaning -%></span></span><br>
    </div>
    <p class="big"><%- errmsg -%></p>
</div>

<%- include('footer') -%>