<%- include('header') -%>

<script src="/js/submissions.js"></script>

<div class="centerdiv">
    <p class="verybig">Hello, <%= user.username %>. What would you like to submit?</p>
    <form class="col s12" method="POST" action="/api/submit">
        <div class="input-field col s12 white-text verywide">
            <select id="game" name="game">
                <option value="" selected disabled></option>
                <%# EJS to the rescue !!!! %>
                <% for (let i=0; i<games.length; i++) { %>
                    <option value="<%= i %>"><%= games[i].name %> (<%= games[i].author %>, <%= games[i].year %>)</option>
                <% } %>
            </select>
            <label for="game">Game</label>
        </div>
        <div class="nobr">
            <div class="input-field col s12 white-text widebtn">
                <input id="time" type="text" name="time">
                <label for="time">Time (mm:ss)</label>
            </div>
            <div class="input-field col s12 white-text widebtn">
                <input id="time" type="text" name="video">
                <label for="time">Video proof</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light red widebtn" action="submit">Submit!
            <i class="material-icons right">arrow_forward</i>
        </button>
    </form>
    <% if (success) { %>
        <div class="success verywide tall">
            <p class="big eeeeee">Success, your run has been submitted.</p>
        </div>
    <% } %>
</div>

<%- include('footer') -%>