<%- include('header') -%>

<div class="center-noflex">
    <div class="plsplsplswork"> <!-- dear god i hate css -->
        <span class="verybig plsplsplswork"><%= user.username %>
            <% for (let i of tags) { %>
                <span class="tag" style="color: <%= i.color %>; background-color: <%= i.background %>"><%= i.text %></span>
            <% } %>
        </span>
    </div>
    <p class="big headtext">User's runs:</p>
    <ul>
        <% if (runs.length === 0) { %>
            <li class="big">We've come up empty!</li>
        <% } else { %>
            <% for (let i of runs) { %>
                <li class="big"><a href="<%= i.video %>"><%= i.game.name %> in <%= i.time %></a></li>
            <% } %>
        <% } %>
    </ul>
</div>

<%- include('footer') -%>