<%- include('header') -%>

<div class="center-noflex">
    <div class="plsplsplswork"> <!-- dear god i hate css -->
        <span class="verybig plsplsplswork"><%= user.username %>
            <% for (let i of tags) { %>
                <span class="tag" style="color: <%= i.color %>; background-color: <%= i.background %>"><%= i.text %></span>
            <% } %>
        </span>
    </div>
</div>

<%- include('footer') -%>